<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Tobi's Portfolio</title>
</head>
<body class="bg-danger">
<%- include('./partials/nav.ejs') %>
<h1>Projects</h1>
<div class='d-flex flex-row'>
    <div>
        <h1><a href="https://smashbrosultimate.herokuapp.com/">Smashpedia</a><h1/>
        <iframe src="https://smashbrosultimate.herokuapp.com/" frameborder="3" width="400" height="400"></iframe>
    </div> 
</div>
</body>
</html>