<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Tobi's Portfolio</title>
</head>
<body class="bg-success">
<%- include('./partials/nav.ejs') %>
<h1 class="text-center my-5">About Me</h1>
<div class="d-flex flex-row justify-content-around">
    <img class='mx-auto\050 border rounded-circle'src="https://animecorner.me/wp-content/uploads/2022/10/E1cMuPnVgAEdKmo.jpg" alt="" style="width: 22em; height: 11em;">
    <h3 class="mx-auto rounded-circle border bg-white p-5">“Hi! My name is Tobi and I'm an aspiring software engineer/Youtuber. I believe in hard work creativity and community and would 
        love to be apart of a system that changes peoples live and challenges ones sense of ingenuity!”</h1>   
</div>
<div>
    <h1 class="text-center">Interest</h1>
</div>
</body>
</html>