<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Tobi's Portfolio</title>
</head>
<body class="bg-danger">
<%- include('./partials/nav.ejs') %>
<h1 class="text-center">Projects</h1>

</body>
</html>