<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Tobi's Portfolio</title>
</head>
<body class="bg-success">
<%- include('./partials/nav.ejs') %>
<h1 class="text-center my-5">About Me</h1>
<div class="d-flex flex-row justify-content-around">
    <img class='rounded-circle border'src="https://mail.google.com/mail/u/0?ui=2&ik=af0dff3400&attid=0.1.1&permmsgid=msg-f:1758759374293260348&th=18685e552623583c&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ_H92NvngQ0CJTPt5tljIirTXxkRQrmiYVPE7NKAe1BwiAVnN-UBabzt9MssfmVlS3qfZslqytu2ZjdtH3D4MmEdeNs7HWehWJ_2ITmJyc-XZ4dDxkf47Ve5qg&disp=emb" alt="" style="height: 22em; width: 22em;">
    <h3 class=" w-50 h-125 mx-5 my-5 border bg-white p-5">“Hi! My name is Tobi and I'm an aspiring software engineer/Youtuber. 
    I believe in hard work creativity and community and would 
    love to be apart of a system that changes peoples live and challenges ones sense of ingenuity!”</h1>   
</div>
<div>
<h1 class="text-center">Interests</h1>
<div class="text-center">
<img class="" src="https://logos-world.net/wp-content/uploads/2020/04/YouTube-Logo.png" alt="" style="height: 11em; width: 22em;">
</div>
<a class="link-light"href="https://www.youtube.com/channel/UCZ8m9E6FbhdBfY3trXw7xPg"><h1 class="text-center">Check out my Youtube Channel</h1></a>
<div class=" my-5 d-flex flex-row justify-content-around">
<iframe src="https://www.youtube.com/embed/HfoV2WXXRTk" frameborder="0" style="height: 30em; width: 40em;"></iframe>
<iframe src="https://www.youtube.com/embed/Iej81pRLMrg" frameborder="0" style="height: 30em; width: 40em;"></iframe>
</div>
<div class="text-center">
<img class="" src="https://logos-world.net/wp-content/uploads/2021/02/Crunchyroll-Symbol.png" alt="" style="height: 11em; width: 22em;">
</div>
<h1 class="text-center">Anime</h1>
<div class=" my-5 d-flex flex-row justify-content-around">
<img class="rounded-circle" src="https://as01.epimg.net/meristation_en/imagenes/2022/02/17/news/1645059859_923391_1645060061_noticia_normal.jpg" alt="" style="height: 35em; width: 45em;">
<img class="rounded-circle" src="https://www.yuyuhakusho.net/wp-content/uploads/2023/01/yu-yu-hakusho-main-cast.png" alt="" style="height: 35em; width: 45em;">
</div>
</body>
</html>