<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Tobi's Portfolio</title>
</head>
<body class="bg-success">
<%- include('./partials/nav.ejs') %> 
<h1 class="text-center my-5">Contact Me</h1>
<div class="d-flex justify-content-center">
    <a class="mx-1" href="https://github.com/Tobiwashi"><img src="https://1000logos.net/wp-content/uploads/2021/05/GitHub-logo.png" style="width: 22em; height: 11em;">
    <a class="mx-1" href="https://www.linkedin.com/in/tobi-igberase-5a2178253/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/800px-LinkedIn_icon_circle.svg.png" style="width: 11em; height: 11em;"></a>
</div>
<div class="my-5 mx-auto d-flex flex-column justify-content-center">
    <h1 class="text-center">Phone:</h1>
    <br>
    <h1 class="text-center">757-705-6111</h1>
    <h1 class="text-center">Email:</h1>
    <br>
    <h1 class="text-center">Tobiigberase@gmail.com</h1>
</div>
</body>
</html>