<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Tobi's Portfolio</title>
</head>
<body class="bg-success">
<%- include('./partials/nav.ejs') %>
<h1 class="text-center my-5">Home</h1>   
</body>
</html>